Package: me.nepeta.flashyhud
Name: FlashyHUD
Depends: mobilesubstrate, ws.hbang.common (>= 1.11), org.thebigboss.libcolorpicker
Version: 0.1.1
Architecture: iphoneos-arm
Description: Minimalist volume HUD
Maintainer: Nepeta
Author: Nepeta
Section: Tweaks
